<!--

   Copyright 2020 Patrick Murphy
   
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
-->

<div id="gasCalc">
<!-- Import jquery, remove if you already have jquery imported -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<div id="gasCalcRoomVolume">
	<b>Volume of Room</b><br>


	<div class="gasCalcOption">
	<input type="radio" id="gasCalcSelectDimensions" name="gasCalcSelectRoomMethod" onclick="gasCalcSelectRoomMethod('3')" autocomplete="off">
	Dimensions<br>
	<div id="gasCalcDimensions" class="gasCalcRoomInput" hidden="">
		Length (M)<br>
		<input type="number" min="1" step="any" id="gasCalcInputRoomLength" disabled="true"><br>
		Width (M)<br>
		<input type="number" min="1" step="any" id="gasCalcInputRoomWidth" disabled="true"><br>
		Height (M)<br>
		<input type="number" min="1" step="any" id="gasCalcInputRoomHight" disabled="true"><br>
	</div>
	</div>

	<div class="gasCalcOption">
	<input type="radio" id="gasCalcSelectArea" name="gasCalcSelectRoomMethod" onclick="gasCalcSelectRoomMethod('2')" autocomplete="off">
	Area and Hight<br>
	<div id="gasCalcHeightArea" class="gasCalcRoomInput" hidden="">
		Area (M2)<br>
		<input type="number" min="1" step="any" id="gasCalcInputRoomArea" disabled="true"><br>
		Height (M)<br>
		<input type="number" min="1" step="any" id="gasCalcInputRoomHight-Area" disabled="true"><br>
	</div>
	</div>

	<div class="gasCalcOption">
	<input type="radio" name="gasCalcSelectRoomMethod" onclick="gasCalcSelectRoomMethod('1')" autocomplete="off">Whole room (M3)<br>
	<div id="gasCalcWholeRoom" class="gasCalcRoomInput" hidden="">
		<input type="number" min="1" step="any" id="gasCalcInputRoomSize" disabled="true"><br>
	</div>
	</div>

	</div>


	<div id="gasCalcGasVolume">



	<b>Volume of the gas</b><br>
	<!-- step="any" for raw gas numbers" -->
	<div class="gasCalcOption">

	<input type="checkbox" class="gasCalcSelectSection" autocomplete="off">
	Known amounts of gas in m3

	<div hidden>

		Nitrogen (M3)
		<input type="checkbox" class="gasCalcSelectInput" autocomplete="off">
		<input hidden type="number" min="1" step="any" class="gasCalcNumberInput" disabled="true" oxygenDepletingGas="1"><br>

		Helium (M3)
		<input type="checkbox" class="gasCalcSelectInput" autocomplete="off">
		<input hidden type="number" min="1" step="any" class="gasCalcNumberInput" disabled="true" oxygenDepletingGas="1"><br>

		Argon (M3)
		<input type="checkbox" class="gasCalcSelectInput" autocomplete="off">
		<input hidden type="number" min="1" step="any" class="gasCalcNumberInput" disabled="true" oxygenDepletingGas="1"><br>

		Carbon Dioxide (M3)
		<input type="checkbox" class="gasCalcSelectInput" autocomplete="off">
		<input hidden type="number" min="1" step="any" class="gasCalcNumberInput" disabled="true" Co2="1"><br>

	</div>
	</div>

	<!-- Co2  cylinders-->
	<div class="gasCalcOption">

	<input type="checkbox" class="gasCalcSelectSection" autocomplete="off">
	Co2 cylinders

	<div hidden>

		Size D
		<input type="checkbox" class="gasCalcSelectInput" autocomplete="off">
		<input hidden type="number" min="1" step="1" class="gasCalcNumberInput" disabled="true" Co2="3.21"><br>

		Size VT
		<input type="checkbox" class="gasCalcSelectInput" autocomplete="off">
		<input hidden type="number" min="1" step="1" class="gasCalcNumberInput" disabled="true" Co2="5.35"><br>

		Size E
		<input type="checkbox" class="gasCalcSelectInput" autocomplete="off">
		<input hidden type="number" min="1" step="1" class="gasCalcNumberInput" disabled="true" Co2="8.02"><br>

		Size F
		<input type="checkbox" class="gasCalcSelectInput" autocomplete="off">
		<input hidden type="number" min="1" step="1" class="gasCalcNumberInput" disabled="true" Co2="11.77"><br>

		Size G
		<input type="checkbox" class="gasCalcSelectInput" autocomplete="off">
		<input hidden type="number" min="1" step="1" class="gasCalcNumberInput" disabled="true" Co2="16.58"><br>
	</div>
	</div>

	<!-- Nitrogen  cylinders-->
	<div class="gasCalcOption">

	<input type="checkbox" id="gasCalcSelectNitrogenCylinders" class="gasCalcSelectSection" autocomplete="off">
	Nitrogen cylinders

	<div hidden id="gasCalcNitrogenCylindersSection">

		Size D
		<input type="checkbox" id="gasCalcSelectSizeDLiquidNitrogenCylinders" class="gasCalcSelectInput" autocomplete="off">
		<input hidden type="number" min="1" step="1" class="gasCalcNumberInput" id="gasCalcInputSizeDLiquidNitrogenCylinders" disabled="true" oxygenDepletingGas="1.4"><br>

		Size E
		<input type="checkbox" id="gasCalcSelectSizeELiquidNitrogenCylinders" class="gasCalcSelectInput" autocomplete="off">
		<input hidden type="number" min="1" step="1" class="gasCalcNumberInput" id="gasCalcInputSizeELiquidNitrogenCylinders" disabled="true" oxygenDepletingGas="3.6"><br>

		Size G
		<input type="checkbox" id="gasCalcSelectSizeGLiquidNitrogenCylinders" class="gasCalcSelectInput" autocomplete="off">
		<input hidden type="number" step="1" class="gasCalcNumberInput" id="gasCalcInputSizeGLiquidNitrogenCylinders" disabled="true" oxygenDepletingGas="7.2"><br>
	</div>
	</div>
	<div style="padding: 10px;">
	<button type="button" onclick="calculate()">Calculate</button>
	</div>

<div id="GasCalcOutput">

</div>



<script>
// Set Variables
var gasCalcOxygen = 0.209;
var gasCalcGasVolume = 0;
var gasCalcRoomVolume = 0;
var gasCalcOutput = "";
var gasCalcRoomInputs = document.getElementsByClassName("gasCalcRoomInput");
var gasCalcRoomMethod = document.getElementsByName("gasCalcSelectRoomMethod");
var gasCalcOxygenSafe = true;
var gasCalcCo2Volume = 0;
var gasCalcCo2Percentage = 0;
var gasCalcCo2Present = false;
var gasCalcGasOtherThanCo2Present = false;
var gasCalcDangerLevel = "green";


$(document).ready(function(){
	// fix rendering for wordpress and inputs not reseting
	$(".gasCalcNumberInput").hide();
	$(".gasCalcNumberInput").prop("disabled", true);


	// Onclick select number input
	$(".gasCalcSelectInput").click(function(){
		if ($(this).nextAll(".gasCalcNumberInput").first().is(":hidden")) {
			$(this).nextAll(".gasCalcNumberInput").first().show();
			$(this).nextAll(".gasCalcNumberInput").first().prop("disabled", false);
		} else {
			$(this).nextAll(".gasCalcNumberInput").first().hide();
				$(this).nextAll(".gasCalcNumberInput").first().prop("disabled", true);
		}
	});
	// Select Section
	$(".gasCalcSelectSection").click(function(){
		if ($(this).nextAll("div").first().is(":hidden")) {
			$(this).nextAll("div").first().show();
		} else {
			$(this).nextAll("div").first().hide();
		}
	});
});


// Disable Inputs

function gasCalcSelectRoomMethod(method) {
	for (i = 0; i < gasCalcRoomInputs.length; i++) {
		gasCalcRoomInputs[i].disabled = true;
		$(gasCalcRoomInputs[i]).hide()

	}
	if (method == "3") {
		console.log("none")
		$("#gasCalcDimensions").show();
		document.getElementById("gasCalcInputRoomLength").disabled = false;

		document.getElementById("gasCalcInputRoomWidth").disabled = false;

		document.getElementById("gasCalcInputRoomHight").disabled = false;

	}
	else if (method =="2") {
		$("#gasCalcHeightArea").show();
		document.getElementById("gasCalcInputRoomArea").disabled = false;

		document.getElementById("gasCalcInputRoomHight-Area").disabled = false;

	}
	else if (method =="1") {
		document.getElementById("gasCalcInputRoomSize").disabled = false;
		$("#gasCalcWholeRoom").show();
	}
}


function calculate(){

// Grap input fields

	// Get room volume
	gasCalcRoomVolume = document.getElementById("gasCalcInputRoomSize").value;

	for (i = 0; i < gasCalcRoomMethod.length; i++){
			if (gasCalcRoomMethod[i].checked){
				if (gasCalcRoomMethod[i].id == "gasCalcSelectDimensions") {
					gasCalcRoomVolume = (document.getElementById("gasCalcInputRoomLength").value * document.getElementById("gasCalcInputRoomWidth").value * document.getElementById("gasCalcInputRoomHight").value)
				}
				else if (gasCalcRoomMethod[i].id == "gasCalcSelectArea") {
					gasCalcRoomVolume = (document.getElementById("gasCalcInputRoomArea").value * document.getElementById("gasCalcInputRoomHight-Area").value)
				}
			}
	}





	// Get the gas volume
	gasCalcCo2Present = false;
	gasCalcGasOtherThanCo2Present = false;
	gasCalcGasVolume = 0;
	gasCalcCo2Volume = 0;
	$(".gasCalcNumberInput").each(function(index, object){
		if (! $(object).is(":hidden")) {
			if ( $(object).attr("oxygenDepletingGas") != null ){
				gasCalcGasOtherThanCo2Present = true;
				gasCalcGasVolume = Number(gasCalcGasVolume) + (Number($(object).attr("oxygenDepletingGas")) * Number($(object).val()));
			}
			if ( $(object).attr("Co2") != null ){
				gasCalcCo2Present = true;
				gasCalcCo2Volume = Number(gasCalcCo2Volume) + (Number($(object).attr("co2")) * Number($(object).val()));
			}

		}
	});
	gasCalcGasVolume = gasCalcGasVolume + gasCalcCo2Volume;
	console.log("Total gas volume: " + gasCalcGasVolume);
	console.log("Total Co2 volume: " + gasCalcCo2Volume);



	// Calculate the oxygen percent
	gasCalcoxygen = ((0.209 * gasCalcRoomVolume) - (0.209 * gasCalcGasVolume)) / gasCalcRoomVolume;

	// if oxygen is negitive set it to 0
	if (gasCalcoxygen  < 0){
	gasCalcoxygen = 0;
	}

	gasCalcoxygen = gasCalcoxygen * 100;
	if (gasCalcoxygen >= 10) {
		gasCalcoxygen = gasCalcoxygen.toPrecision(4);
	}
	else {
			gasCalcoxygen = gasCalcoxygen.toPrecision(3);
	}

	// Check if oxygen levels are safe
	if (gasCalcoxygen > 19.5) {
		gasCalcOxygenSafe = true;
	}
	else {
		gasCalcOxygenSafe = false;
	}

	// Calculate  Co2 percentage
	if (gasCalcCo2Present) {
	gasCalcCo2Percentage = gasCalcCo2Volume / gasCalcRoomVolume;

		// Check if Co2 levels are safe
		if (gasCalcCo2Percentage < 2) {
			gasCalcCo2Safe = true;
		}
		else {
			gasCalcCo2Safe = false;
		}
		gasCalcCo2Percentage = gasCalcCo2Percentage * 100
		if (gasCalcCo2Percentage >= 10) {
			gasCalcCo2Percentage = gasCalcCo2Percentage.toPrecision(4)
		}
		else {
			gasCalcCo2Percentage = gasCalcCo2Percentage.toPrecision(3)
		}
	}

	console.log("Room Volume: " + gasCalcRoomVolume)
	console.log("Gas Volume: " + gasCalcGasVolume)
	console.log("Resulting Oxygen: " + gasCalcoxygen)
	console.log("Resulting Co2: " + gasCalcCo2Percentage)

	gasCalcOutput = "";

	// Check for error 
	// Oxygen is not a number
	if (gasCalcGasVolume === 0) {
		handleError();
		return;
	}
	//  Room volume is zero
	else if (gasCalcRoomVolume === 0) {
		handleError();
		return;
	}










	gasCalcOutput += "<b>Results</b><br>";

	// If Both gases are present
	if (gasCalcGasOtherThanCo2Present && gasCalcCo2Present) {
		// If both gases are Safe
		if (gasCalcOxygenSafe && gasCalcCo2Percentage < 0.5) {
			gasCalcOutput += "In the event of a gas spill oxygen can only fall as low as: <b>" + gasCalcoxygen + "%</b> ";
			gasCalcOutput += "and Co2 levels can only reach: <b>" + gasCalcCo2Percentage + "%</b><br> ";
			gasCalcOutput += "In both cases, the levels of each is safe.<br>";
			gasCalcOutput += "No futher action is recommended." ;
		}
		// If both gases are unsafe
		if ( ! gasCalcOxygenSafe && gasCalcCo2Percentage > 0.5) {
			gasCalcOutput += "In the event of a gas spill oxygen can fall as low as: <b>" + gasCalcoxygen + "%</b> ";
			gasCalcOutput += "and Co2 levels can reach: <b>" + gasCalcCo2Percentage + "%</b><br>";
			gasCalcOutput += "This level of each gasses is unsafe";
		}
		// If only co2 is safe
		if ( ! gasCalcOxygenSafe && gasCalcCo2Percentage < 0.5) {
			gasCalcOutput += "In the event of a gas spill oxygen can fall as low as: <b>" + gasCalcoxygen + "%</b> ";
			gasCalcOutput += "and Co2 levels can only reach: <b>" + gasCalcCo2Percentage + "%</b><br>";
			gasCalcOutput += "While the Co2 levesl are safe, the oxygen levels are not.<br>";
			gasCalcOutput += "Installation of an oxygen gas a monitoring system is recommended.<br>";
		}
		// If only co2 is unsafe
		if ( gasCalcOxygenSafe && gasCalcCo2Percentage > 0.5) {
			gasCalcOutput += "In the event of a gas spill oxygen can only fall as low as: <b>" + gasCalcoxygen + "%</b> ";
			gasCalcOutput += "and Co2 levels can reach: <b>" + gasCalcCo2Percentage + "%</b><br>";
			gasCalcOutput += "While the oxygen levesl are safe, the Co2 levels are not. <br>";
			gasCalcOutput +=  "Installation of a Co2 gas a monitoring system is recommended.<br>";
		
			
		}

	}


	// If only oxygen delepting gasses are present
	else if (gasCalcGasOtherThanCo2Present && ! gasCalcCo2Present) {
		gasCalcOutput += "In the event of a gas spill, oxygen levels would fall to:<b> " + gasCalcoxygen + "%</b> ";

		// If it is safe
		if (gasCalcoxygen > 19.5) {
			gasCalcOutput += "This is a safe level of oxygen above the 19.5% Threshold <br>";
			gasCalcOutput += "No further action is recommended.<br>";
		}

		// If it is not safe
		else if (gasCalcoxygen > 0) {
			gasCalcOutput += "This is dangerous level of oxygen that is below the 19.5% threshold.<br>";
			gasCalcOutput += " Installation of a oxygen gas monitoring system is recommended to prevent injury or death.<br>";
		}
		else if (gasCalcoxygen == 0) {
			gasCalcOutput += "This means there would be no oxygen in the room. This is extermly dangerous. <br>";
			gasCalcOutput += " Installation of a oxygen gas a monitoring system is strongely recommended to prevent injury or death.<br>";
		}
	}


	// if only co2 is present
	else if ( ! gasCalcGasOtherThanCo2Present && gasCalcCo2Present) {
		gasCalcOutput += "In the event of a gas spill, Co2 levels would rise to:<b> " + gasCalcCo2Percentage + "%</b> ";

		// If it is safe
		if (gasCalcCo2Percentage < 0.5) {
			gasCalcOutput += "This is a safe level of Co2 Below the 0.5%  TWA threshold. <br> No further action is recommended.<br>";
		}

		// 8 Hour Time Weighted Average
		else if (gasCalcCo2Percentage < 3) {
			gasCalcOutput += "This is a hazardous level of Co2 above the 0.5% TWA threshold. <br>";
			gasCalcOutput += "Installation of Co2 gas a monitoring system is recommended.<br>";
		}
		// 15 Minute Short term exposure limit
		else if (gasCalcCo2Percentage > 3) {
			gasCalcOutput += "This is a dangerous level of Co2 above the 3% STEL threshold. <br>";
			gasCalcOutput +=  "Installation of Co2 gas a monitoring system is strongely recommended to prevent injury or death.<br>";
		}
	}
	
	// No gases are present (error)
	else {
		handleError()
	}
	
	document.getElementById("GasCalcOutput").innerHTML = gasCalcOutput;




}

function handleError(){
	gasCalcOutput = "An error Occured. Please check that your inputs are correct.";
	document.getElementById("GasCalcOutput").innerHTML = gasCalcOutput;
}

</script>
</div>

